@import 'imported';

$perc100: #0C0;
$perc99orless: #FF0;
$perc50orless: #F90;
$perc25orless: #C00;

$complete: #9E9;
$inprogress: #FF9;

$black: #000;
$orange: #F90;
$brown: saddlebrown;

$blue: #3bbfce;
$margin: 16px;

.cell-100 {
	background-color: $perc100;
}
.cell-99-or-less {
	background-color: $perc99orless;
}
.cell-50-or-less {
	background-color: $perc50orless;
}
.cell-25-or-less {
	background-color: $perc25orless;
	color: white;
}

.pointer {
	cursor:pointer!important;
}
.row-group {
	background-color: navajowhite;
	font-weight: bold;
}
.person-title {
	display: block;
	color: lighten($black, 50%);
}

.tr-head {
	border: 0!important;
	min-height:100px;
	height:100px;
}
.th-category {
	border: 0!important;
	background-color: transparent;
	min-width: 100px;
}
.th-summary {
	background-color: $orange;
	min-width: 100px;
}
.th-course {
	color: white;
	background-color: $brown;
	min-width: 100px;
}
.th-section {
	background-color: lighten($brown, 25%);
}

.m-l-sm {
	margin-left: 5px;
}

.m-t-sm {
	margin-top: 5px;
}

a {
	cursor:pointer;
}

i.fa {
	font-size:14pt;
	color: $orange;	
}

td.complete {
	background-color: $complete;
}

td.in-progress {
	background-color: $inprogress;
}