@import 'imported';

$category: #F0E0C6;
$completed: #60BF00;
$inprogress: #E8DC74;
$na: #CCC;
$zero: #FFF;

$black: #000;
$orange: #FF8000;
$brown: #693900;
$lightbrown: #BE854C;

$blue: #3bbfce;
$margin: 16px;


.pointer {
	cursor:pointer!important;
}

.person-title {
	display: block;
	color: lighten($black, 50%);
}

.m-l-sm {
	margin-left: 5px;
}

.m-t-sm {
	margin-top: 5px;
}

a {
	cursor:pointer;
}

i.fa {
	font-size:14pt;
	color: $orange;	
}


.table {
  border-spacing: 0;
  border-collapse: collapse;
}
.table > thead > tr > th,
.table > tbody > tr > td {
  border: 1px solid lighten($lightbrown, 20%);
  padding: 5px;
}
.table > thead > tr > th.first {
  border-top-width: 0;
  border-left-width: 0;
  word-break: break-word;
  text-align: center;
  vertical-align: middle;
}
.table > tbody > tr > td.first {
  word-break: break-word;
  vertical-align: middle;
}
.table > tbody > tr {
	min-height: 50px;
	height: 50px;
}

.tr-head {
	min-height:100px;
	height:100px;
}
.th-category {
	color: white;
	background-color: transparent;
	min-width: 200px;
	width: 250px;
	max-width: 250px;
}
.th-summary {
	color: white;
	background-color: $orange;
	min-width: 200px;
	width: 250px;
	max-width: 250px;
}
.th-course {
	color: white;
	background-color: $brown;
	min-width: 100px;
}
.th-section {
	color: white;
	background-color: $lightbrown;
}

td.category {
	background-color: $category;
	font-weight: bold;
}

/* group columns */
td.col-group.completed {
	background-color: $completed;
}
td.col-group.in-progress {
	background-color: $inprogress;
}
td.col-group.na {
	background-color: $na;
}
td.col-group.zero {
	background-color: darken($zero, 15%);
}

/* child columns */
td.col-child.completed {
	background-color: lighten($completed, 15%);
}
td.col-child.in-progress {
	background-color: lighten($inprogress, 15%);
}
td.col-child.na {
	background-color: lighten($na, 15%);
}
td.col-child.zero {
	background-color: $zero;
}

td.flash.ng-animate {
  color: white;
  background-color: red;
}
td.flash {
  -webkit-transition: background-color 0.5s ease-in, color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in, color 0.5s ease-in;
  -o-transition: background-color 0.5s ease-in, color 0.5s ease-in;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

td.hidden {
	display:none;
}

